@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

html {
    display: flex;
    justify-content: center;
}
body {
  /* border: 1px solid red; */
  /* width: 75%; */
  padding: 5% 5%;
  width: 50%;
  padding: min(5rem, 5%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  text-transform: capitalize;
  text-align: center;
}

.food-information {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  width: 100%;
}

.all-single-macro-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
}

.single-macro-container {
  border: 1px solid #ffeed9;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
  background-color: #ffeed9;
}

.total-macro-container .macro-div-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.total-macro-container .macro-div p {
    font-size: 1.25rem;
    font-weight: 600;
}
.macro-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.macro-div p {
  text-align: center;
  padding: 0;
  margin: 0;
}

h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

.total-macro-container {
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e0f4ff;
  border: 1px solid #e0f4ff;
  margin-block: 1rem;
}

h1 {
    font-size: 3rem;
}
.form {
    display: flex;
    gap: .5rem;
    justify-content: center;
}
input {
  height: 30px;
  font-size: 1rem;
  padding-left: 1rem;
}

button {
  background-color: #b8b4af;
  border: 1px solid #b8b4af;
  padding: 0.5rem 1rem;
  border-radius: .25rem;
  cursor: pointer;
}

.name{
    margin: .5rem;
}

img {
    width: 100%;
}